{% if session['logged_in'] %}
<html>
  <head>
    <meta charset="utf-8">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >

  </head>
  <body>
    <header class='navbar navbar-expand-lg navbar-light bg-dark fixed-top'>
      <form method="post" action="/logout" class='form-inline'>
        <input type="submit" value="Se déconnecter">
      </form>
    </header>
    <br/>
    <br/>
    <br/>
    <h1>Add book</h1>
    <form method="POST" action="/home">
      <input type="text" name="title">
      <input type="submit" value="Add">
    </form>

    <h1>Books</h1>
    <table class="table">
      <!--
        TO-DO : 2.1.
      -->
    </table>
  </body>
</html>
{% else %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signin.css') }}">

  </head>

  <body class="text-center">
    <h1>Interdit :)</h1>
  </body>
</html>
{% endif %}
