{% if session['logged_in'] %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signin.css') }}">

  </head>

  <body class="text-center">
    <header class='navbar navbar-expand-lg navbar-light bg-dark fixed-top'>
      <form method="post" action="/logout" class='form-inline'>
        <input type="submit" value="Se déconnecter">
      </form>
    </header>
    <h1>Vous êtes déjà connecté !</h1>
  </body>
</html>
{% else %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signin.css') }}">

  </head>

  <body class="text-center">
    <div class=align>
      <form class="form-signin" method="post" action="/login">
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous !</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="username" class="form-control" placeholder="Username" name="username" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      </form>
      <form class="form-signin" method="get" action="/register">
        <button class="btn btn-lg btn-primary btn-block" type="submit">S'enregister</button>
      </form>
    </div>
  </body>
</html>
{% endif %}
