{% if session['logged_in'] %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signin.css') }}">

  </head>

  <body class="text-center">
    <h1>Vous êtes déjà connecté !</h1>
  </body>
</html>
{% else %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>myApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signin.css') }}">

  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="/register">
      <h1 class="h3 mb-3 font-weight-normal">Renseignez les infos demandées</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="username" class="form-control" placeholder="Username" name="username" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">S'enregistrer</button>
    </form>
  </body>
</html>
{% endif %}
